<%# <div class="posts-wrapper"> %>
<div class="chatroom-index-show">
  <div class="chatroom-sidebar">
    <div class="message-sticky">
      <h2 class="messages-text">messages.</h2>
    </div>
    <div class="p-l-r-20">
      <div class="searchbar pb-2">
        <%= form_tag chatrooms_path, method: :get do %>
        <div class="search-form">
          <%= text_field_tag :second_user,
            params[:second_user],
            class: "form-control search-bar",
            placeholder: "send a message to..."
          %>
        </div>
        <% end %>
      </div>
  </div>

    <div class="search-res pb-1 pt-1">
    <% if params[:second_user] == "" %>
    <% elsif params[:second_user] && @users.empty? %>
      <p class="text-center yellow-text font-weight-bold pt-3 pb-3">no results for <%=params[:second_user]%> </p>
    <% else %>
      <ul class="ul-style">
        <% @users.each do |user| %>
          <div class='message-user-res'>
            <img src="<%= user.prof_pic %>" alt="" class="index-avatar" style="margin-right:8px;">
            <li class="user-res li-style">
            <%= form_with model: @chatroom do |form| %>
              <%= form.hidden_field :second_user, value: user.id %>
              <%= form.submit "#{user.username}", class: "username-chat" %>
            <% end %>
            </li>
          </div>
        <% end %>
      <% end %>
      </ul>
    </div>

    <% if @chatrooms.empty?%>
      <h3>no messages yet.</h3>
    <% else %>
      <div class="existing-chats">
        <ul class="ul-style">
        <% @chatrooms_in_order.each_with_index do |chatroom, index| %>
        <div class="one-chat">
          <div class="pic-username">
            <img src="<%= chatroom.interlocutor_of(current_user).prof_pic %>" alt="" class="chat-avatar" style="margin-right:15px;">
              <div class="username-message">
                <%= link_to chatroom_path(chatroom) do %>
                  <li><h3 class="chat-name"><%= chatroom.interlocutor_of(current_user).username %>.</h3></li>
                <% end %>
                <% unless chatroom.messages.empty? %>
                  <p class="white-text comment-p"><%= chatroom.messages.last.content.truncate(50) %></p>
                <% end %>
              </div>
          </div>
          <div class="delete-time-chat">
            <p class="time-text"><%= chatroom.messages.last.created_at.strftime("at %H:%M on %a, %b %e %Y") %></p>
          </div>
        </div>
        <% end %>
        </ul>
      </div>
    <% end %>

  </div>
  <div class="chat-right-index">
    <h3>
      your messages.
      <i class="fa-solid fa-paper-plane"></i>
    </h3>
  </div>
</div>
<%# </div> %>
