<div class="profile-header">
  <h1 id="profile-username"><%=@username%></h1>
  <img src="<%= @prof_pic_url %>" alt="" class="profile-avatar">
</div>
<h2> Your Playlists: </h2>

  <% @user_now.playlists.each do |playlist| %>
      <div class="playlist-card">
        <p><%=  playlist.name %></p>
      </div>
  <% end %>

  <% @user_now.top_artists.each do |artist| %>
    <div class="playlist-card">
      <p><%= artist.name %></p>
      <img src= <%= artist.images[0]["url"]  %> alt="" class="profile-playlist-image">
    </div>

  <% end %>

  <% @user_now.top_tracks.each do |track| %>
    <div class="playlist-card">
      <img src= <%= track.album.images[0]["url"]  %> alt="" class="profile-playlist-image">
      <p><%= track.name %></p>
    </div>
  <% end %>
