
<div class="profile-page" >
  <div class="container profile">
    <div class="profile-header">
      <h1 id="profile-username"><%=@username%></h1>
      <img src="<%= @prof_pic_url %>" alt="" class="profile-avatar">
      <div class="placehldr-elmn">
      <h2><%= Friendship.all.where(receiver_id: @user_now.id).or(Friendship.all.where(requester_id: @user_now.id)).count %></h2>
      <%# link here %>
      <%= link_to "friends", friendships_path, class: 'white-text'%>
      </div>
    </div>
  </div>

  <div class="overall" >
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">posts.</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">overview.</button>
      </div>
    </nav>
    <div class="tab-content post" id="nav-tabContent">
      <div class="tab-pane fade show active post" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <%# POST CONTENT HERE %>
        <% @profile_posts.each_with_index do |profile_post, index| %>
          <% if profile_post.class == Post%>
          <%# <% playlist = RSpotify::Playlist.find(request.env['omniauth.auth'], profile_post.music) %>
            <div class='post-card'>
              <div class='album-and-title d-flex flex-row justify-content-between'>
                <h2> <%= profile_post.title %> </h2>
                <%# FAKE ALBUM COVER %>
                <img src="https://i.mdel.net/i/db/2019/12/1255378/1255378-800w.jpg" alt="" width="100px" height='100px' class="album-img">
                <%# <img src=<%= playlist.images[0]["url"] %>
                <%# alt=""  alt="" width="100px" height='100px' class="album-img"> %>
                <%# ALBUM PIC HERE %>
              </div>
              <div class='bottom-card-content'>
                <div class="profpic-username d-flex flex-row ">
                  <img src="<%= @prof_pic_url %>" alt="" class="index-avatar" style="margin-right:8px;">
                  <p class='username-text'><%= profile_post.user.username %></p>
                </div>
                <div class = 'content'>
                  <p class ='content-text'> <%= profile_post.content %> </p>
                </div>
                <div class="social-icons d-flex flex-row align-items-center justify-content-end">
                  <% if profile_post.id != @user.id%>
                    <%# <%= link_to "Repost" %>
                    <%= link_to post_reposts_path(profile_post), method: :post do %>
                    <i class="fa-solid fa-arrows-rotate py-1 px-1" style="text-decoration: none; color:white;"></i>
                    <% end %>
                  <% end %>
                  <i class="fa-solid fa-heart mx-2"></i><p>6</p>
                  <i class="fa-solid fa-message mx-2"></i><p>2</p>
                  <%# link_to "More"%>
                  <%= link_to post_path(profile_post.id) do %>
                    <i class="fa-solid fa-arrow-up-right-from-square py-1 px-1 " style="text-decoration: none; color:white;"></i>
                  <% end %>
                </div>
                <div class='time-created'>
                  <p class ='content-text grey-text'> <%= @post_time[index] %> ago </p>
                </div>
              </div>
            </div>
          <% else %>
          <%# <% playlist = RSpotify::Playlist.find(request.env['omniauth.auth'], profile_post.music) %>
            <div class ='repost-card pt-3'>
              <div class='album-and-title d-flex flex-row justify-content-end align-items-center'>
                <h2> <%= profile_post.post.title %> </h2>
                <img src="https://i.mdel.net/i/db/2019/12/1255378/1255378-800w.jpg" alt="" width="100px" height='100px' class="album-img">
                  <%# <img src=<%= playlist.images[0]["url"]
                  alt=""  alt="" width="100px" height='100px' class="album-img">  %>
              </div>
              <div class='bottom-card-content'>
                <div class="profpic-username d-flex flex-row">
                  <img src="<%= @prof_pic_url %>" alt="" class="index-avatar" style="margin-right:8px;">
                  <p class='username-text'><%= profile_post.post.user.username %></p>
                  <%# replace username with reposter username %>
                  <p class='username-text'><i class="fa-solid fa-repeat py-1 px-1" style="text-decoration: none; color:white;"></i>Reposted by <%= profile_post.post.user.username %></p>

                </div>
                <div class = 'content'>
                  <p class ='content-text'> <%= profile_post.post.content %> </p>
                </div>
                <div class="social-icons d-flex flex-row justify-content-end align-items-center ">
                  <i class="fa-solid fa-heart mx-2"></i><p>3</p>
                  <i class="fa-solid fa-message mx-2"></i><p>4</p>
                    <%# link_to "More"%>
                  <%= link_to post_repost_path(profile_post.post.id, profile_post.id) do %>
                    <i class="fa-solid fa-arrow-up-right-from-square mx-2" style="text-decoration: none; color:white;"></i>
                    <% end %>
                </div>
                <div class='time-created'>
                  <p class='content-text grey-text'> <%= @post_time[index] %> ago </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        <%# POST CONTENT HERE %>
      </div>

      <div class="tab-pane fade tab-content" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <% @user_now.playlists.each do |playlist| %>
            <div class="playlist-card">
              <p><%=  playlist.name %></p>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
