<div class="profile-page" >
  <div class="container profile">
    <div class="profile-header">
      <h1 id="profile-username"><%=@username%></h1>
      <img src="<%= @prof_pic_url %>" alt="" class="profile-avatar">
      <div class="placehldr-elmn">
        <%= link_to friendships_path, class: 'white-text' do %>
          <h2><%= Friendship.where(requester_id: @user.id).count %></h2>
          <p>following</p>
        <% end %>
        <div>
          <h2><%= @user_posts.count %> </h2>
          <p>posts</p>
        </div>
      </div>
      <div class="placehldr-elmn">
        <%= link_to friendships_path, class: 'white-text' do %>
          <h2><%= Friendship.where(receiver_id: @user.id).count %></h2>
          <p>followers</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="overall" >
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">posts.</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">overview.</button>
      </div>
    </nav>
    <div class="tab-content post" id="nav-tabContent">
      <div class="tab-pane fade show active post" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <%# POST CONTENT HERE %>
      <div class="posts-wrapper">
  <% @profile_posts.each_with_index do |profile_post, index| %>
    <% if profile_post.class == Post%>
      <%= link_to post_path(profile_post.id) do %>
        <div class='post-card' id='profile-post-card'>
          <div class="profpic-username">
            <img src="<%=profile_post.user.prof_pic%>" alt=""50>
            <% if profile_post.user_id == current_user.id %>
              <%= link_to profile_path, class: "" do %>
              <h3 class='username-text'><%= profile_post.user.username %>.</h3>
              <% end %>
            <% else %>
              <%= link_to user_path(profile_post.user_id) do %>
                <p class='username-text' style="text-decoration: none; color:white;">@<%=profile_post.user.username %></p>
              <% end %>
            <% end %>
          </div>
          <div class = 'content'>
            <h2 class='post-title'> <%= profile_post.title.capitalize %> </h2>

              <p class ='content-text'> <%= profile_post.content %> </p>
            <a href= <%= profile_post.url %> target="_blank">
              <div class="spotify-card">
                <img src=<%= profile_post.image %> alt="">
                <div class="spotify-card-info">
                  <p><%= profile_post.music %></p>
                  <% if !profile_post.artist.nil? %>
                    <p><%= profile_post.artist %></p>
                  <% end %>
                </div>
              </div>
            </a>
            <div class="social-icons">
              <div>
                <% if profile_post.id != @user.id%>
                  <%= link_to post_reposts_path(profile_post), method: :post do %>
                    <i class="fa-solid fa-repeat" style="text-decoration: none; color:white;"></i>
                  <% end %>
                <% end %>
              </div>
              <div>
                <div>
                  <%= link_to post_post_likes_path(profile_post), method: :post do %>
                    <i class="fa-solid fa-heart mx-2" style="text-decoration: none; color:white;"></i>
                  <% end %>
                  <p><%=profile_post.post_likes.count%></p>
                </div>
              </div>
              <div>
                <div>
                  <i class="fa-solid fa-message mx-2"></i>
                  <p><%=profile_post.post_comments.count%></p>
                </div>
              </div>
            </div>

            <div class='time-created'>
              <p class ='content-text grey-text'> <%= @post_time[index] %> ago </p>
            </div>
          </div>
        </div>
      <% end %>

      <% else %>
      <%= link_to repost_path(profile_post.id) do %>
        <div class='post-card'>
          <div class="profpic-username">
            <img src="<%=profile_post.post.user.prof_pic%>" alt=""50>
            <% if profile_post.user_id == current_user.id %>
              <%= link_to profile_path do %>
              <h3 class='username-text'><%= profile_post.post.user.username %>.</h3>
              <% end %>
            <% else %>
              <%= link_to user_path(profile_post.user_id) do %>

                <h3 class='username-text'><%= profile_post.post.user.username %>.</h3>
              <% end %>
            <% end %>
          </div>
          <div class = 'content'>
            <% if profile_post.user_id == current_user.id %>
              <%= link_to profile_path do %>
              <div class='repost-username pad-b-5'>
                <i class="fa-solid fa-repeat" style="text-decoration: none; color:white;"></i>
                <p class='white-text pad-l-5'><%=profile_post.user.username %>.</p>
              </div>
              <% end %>
            <% else %>
              <%= link_to user_path(profile_post.user_id) do %>
                <div class='repost-username pad-b-5'>
                  <i class="fa-solid fa-repeat" style="text-decoration: none; color:white;"></i>
                  <p class='white-text pad-l-5'><%=profile_post.user.username %>.</p>
                </div>
              <% end %>
            <% end %>
            <h2 class='post-title'> <%= profile_post.post.title.capitalize %> </h2>
            <p class ='content-text'> <%= profile_post.post.content %> </p>
            <a href= <%= profile_post.url %> target="_blank">
              <div class="spotify-card">
                <img src=<%= profile_post.post.image %> alt="">
                <div class="spotify-card-info">
                  <p><%= profile_post.post.music %></p>
                  <% if !profile_post.post.artist.nil? %>
                    <p><%= profile_post.post.artist %></p>
                  <% end %>
                </div>
              </div>
            </a>
            <div class="social-icons">
              <div>
                <div>
                  <%= link_to post_post_likes_path(profile_post), method: :post do %>
                    <i class="fa-solid fa-heart mx-2" style="text-decoration: none; color:white;"></i>
                  <% end %>
                  <p><%=profile_post.repost_likes.count%></p>
                </div>
              </div>
              <div>
                <div>
                  <i class="fa-solid fa-message mx-2"></i>
                  <p><%=profile_post.repost_comments.count%></p>
                </div>
              </div>
            </div>
            <div class='time-created'>
              <p class ='content-text grey-text'> <%= @post_time[index] %> ago </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <%end%>
</div>

      </div>

      <div class="tab-pane fade tab-content" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <div data-search-music-target= "results" id="prof-overview">
            <div class="results-wrapper" id="prof-son" >
              <div class="results-container">
                <h2>Saved Playlist</h2>

                <% @user_now.playlists.each do |playlist| %>

                  <div data-controller="spotify-card" >
                    <div class="result-card" data-action="click->spotify-card#hide" >
                    <% if playlist.images[0] != nil %>
                      <img src= <%= playlist.images[0]["url"] %> alt="" class="profile-playlist-image">
                    <% else %>
                      <img src="https://anghamiwebcdn.akamaized.net/web/assets/img/placeholders/playlist-placeholder.png" alt="" class="profile-playlist-image">
                    <% end %>
                      <div class="spotify-card-info">
                        <p><%= playlist.name.length > 30 ? playlist.name[0..30]... : playlist.name %></p>
                      </div>
                    </div>
                  </div>

                <% end %>
              </div>

              <div class="results-container">
                <h2>Top Tracks</h2>
                <% @user_now.top_tracks.each do |track| %>

                  <div data-controller="spotify-card" >
                    <div class="result-card" data-action="click->spotify-card#hide" >
                    <img src= <%= track.album.images[0]["url"] %> alt="" class="profile-playlist-image">
                      <div class="spotify-card-info">
                        <p><%= track.name.length > 30 ? track.name[0..30]... :  track.name %></p>
                        <div class="artist-name">
                          <% @all_artists = [] %>
                          <% track.artists.each do |artist| %>
                          <% @all_artists.push(artist.name) %>
                          <% end %>
                          <%@all_artists = @all_artists.join(", ") %>
                          <p><%= @all_artists.length > 30 ? @all_artists[0..30]... :  @all_artists %></p>
                        </div>
                      </div>

                    </div>
                  </div>


                <% end %>
              </div>
              <div class="results-container">
                <h2>Top Artists</h2>
                <% @user_now.top_artists.each do |artist| %>

                  <div data-controller="spotify-card">
                    <div class="result-card" data-action="click->spotify-card#hide" >

                      <%= @artist_photo = "" %>
                      <% if artist.images[0] != nil  %>
                        <% @artist_photo = artist.images[0]["url"] %>
                        <img src= <%= @artist_photo %> alt="" class="profile-playlist-image">
                      <% else %>
                        <% @artist_photo = "https://www.medtalks.es/images/user-placeholder.jpg" %>
                        <img src= <%= @artist_photo %>  alt="" class="profile-playlist-image">
                      <% end %>
                      <div class="spotify-card-info">
                        <p><%= artist.name.length > 30 ? artist.name[0..30]... :  artist.name %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

            </div>

        </div>
      </div>

    </div>
  </div>
</div>
