<div class='posts-container'>
  <div class="search-header">
    <h2 class="mb-2">search.</h2>
      <div class="searchbar pb-2">
        <%= form_tag search_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-bar",
            placeholder: "find a user."
          %>
          <%# <%= submit_tag "go.", class: 'search-button margin-right'%>
        <% end %>
      </div>

      <div class="search-res">
        <% if params[:query] == "" %>
        <% elsif params[:query] && @users.empty? %>
            <p class="text-center yellow-text font-weight-bold pt-5 pb-5">no results for <%=params[:query]%> </p>
        <% else %>
          <ul class="ul-style">
            <% @users.each do |user| %>
              <div class='d-flex pb-3'>
              <img src="<%= user.prof_pic %>" alt="" class="index-avatar" style="margin-right:8px;">
              <li class="user-res li-style"><%= link_to user.username, user_path(user), class: 'white-text' %></li>
              </div>
            <% end %>
          </ul>
        <% end %>
      </div>
  </div>
</div>
