<div class="profile-page" >
  <div class="container profile">
    <div class="profile-header">
      <h1 id="profile-username"><%=@user.username%></h1>
      <img src="<%= @user.prof_pic %>" alt="" class="profile-avatar">
      <div class="placehldr-elmn">
        <%= link_to friendships_path, class: 'white-text' do %>
          <h2><%= Friendship.where(requester_id: @user.id).count %></h2>
          <p>following</p>
        <% end %>
        <div>
          <h2><%= @user.posts.count + @user.reposts.count %> </h2>
          <p><strong>posts</strong></p>
        </div>
      </div>
      <div class="placehldr-elmn">
        <div>
          <%= link_to friendships_path, class: 'white-text' do %>
            <h2><%= Friendship.where(receiver_id: @user.id).count %></h2>
            <p>followers</p>
          <% end %>
        </div>

        <% if !Friendship.where(receiver_id: @current_user.id, requester_id:@user.id, status:'accepted').empty? || !Friendship.where(requester_id: @current_user.id, receiver_id:@user.id, status:'accepted').empty? %>
          <%= link_to "remove", friendship_path(@user_friendship), method: :delete, data: { confirm: 'Are you sure?' }, class:'comment-button-follow' %>
        <% else %>

          <%= link_to "follow", follow_user_path(@user), method: :post, class:'comment-button-follow' %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="overall" >
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">posts.</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">overview.</button>
      </div>
    </nav>
    <div class="tab-content post" id="nav-tabContent">
      <div class="tab-pane fade show active post" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        <%# POST CONTENT HERE %>
        <% @profile_posts.each_with_index do |feed_post, index| %>
        <% if feed_post.class == Post%>
          <%= link_to post_path(feed_post.id) do %>
            <div class='post-card' id='profile-post-card'>
              <div class="profpic-username">
                <img src="<%=feed_post.user.prof_pic%>" alt=""50>
                <% if feed_post.user_id == current_user.id %>
                  <%= link_to profile_path do %>
                  <h3 class='username-text'><%= feed_post.user.username %>.</h3>
                  <% end %>
                <% else %>
                  <%= link_to user_path(feed_post.user_id) do %>
                    <h3 class='username-text' style="text-decoration: none; color:white;"><%=feed_post.user.username %></h3>
                  <% end %>
                <% end %>

              </div>
              <div class = 'content'>
                <h2 class='post-title'> <%= feed_post.title.capitalize %> </h2>
                  <p class ='content-text'> <%= feed_post.content %> </p>

                <a href= <%= feed_post.url %> target="_blank">
                  <div class="spotify-card">
                    <img src=<%= feed_post.image %> alt="">
                    <div class="spotify-card-info">
                      <p><%= feed_post.music %></p>
                      <% if !feed_post.artist.nil? %>
                        <p><%= feed_post.artist %></p>
                      <% end %>
                    </div>
                  </div>
                </a>
                <div class="social-icons">
                  <div>
                    <% if feed_post.user_id != @user.id%>
                      <%= link_to post_reposts_path(feed_post), method: :post do %>
                        <i class="fa-solid fa-repeat" style="text-decoration: none; color:white;"></i>
                      <% end %>
                    <% end %>
                  </div>
                  <div>
                    <div>
                      <%= link_to post_post_likes_path(feed_post), method: :post do %>
                        <i class="fa-solid fa-heart mx-2" style="text-decoration: none; color:white;"></i>
                      <% end %>
                      <p><%=feed_post.post_likes.count%></p>
                    </div>
                  </div>
                  <div>
                    <div>
                      <i class="fa-solid fa-message mx-2"></i>
                      <p><%=feed_post.post_comments.count%></p>
                    </div>
                  </div>
                </div>
                <div class='time-created'>
                  <p class ='content-text grey-text'> <%= @post_time[index] %> ago </p>
                </div>
              </div>
            </div>
          <% end %>

          <% else %>

          <%= link_to repost_path(feed_post.id) do %>
            <div class='post-card'>
              <div class="profpic-username">
                <img src="<%=feed_post.post.user.prof_pic%>" alt=""50>
                <% if feed_post.user_id == current_user.id %>
                  <%= link_to profile_path do %>
                  <h3 class='username-text'><%= feed_post.post.user.username %>.</h3>
                  <% end %>
                <% else %>
                  <%= link_to user_path(feed_post.user_id) do %>

                    <h3 class='username-text'><%= feed_post.post.user.username %>.</h3>
                  <% end %>
                <% end %>
              </div>
              <div class = 'content'>
                <% if feed_post.user_id == current_user.id %>
                  <%= link_to profile_path do %>
                  <div class='repost-username pad-b-5'>
                    <i class="fa-solid fa-repeat" style="text-decoration: none; color:white;"></i>
                    <p class='white-text pad-l-5'><%=feed_post.user.username %>.</p>
                  </div>
                  <% end %>
                <% else %>
                  <%= link_to user_path(feed_post.user_id) do %>
                    <div class='repost-username pad-b-5'>
                      <i class="fa-solid fa-repeat" style="text-decoration: none; color:white;"></i>
                      <p class='white-text pad-l-5'><%=feed_post.user.username %>.</p>
                    </div>
                  <% end %>
                <% end %>
                <h2 class='post-title'> <%= feed_post.post.title.capitalize %> </h2>
                <p class ='content-text'> <%= feed_post.post.content %> </p>
                <a href= <%= feed_post.post.url %> target="_blank">
                  <div class="spotify-card">
                    <img src=<%= feed_post.post.image %> alt="">
                    <div class="spotify-card-info">
                      <p><%= feed_post.post.music %></p>
                      <% if !feed_post.post.artist.nil? %>
                        <p><%= feed_post.post.artist %></p>
                      <% end %>
                    </div>
                  </div>
                </a>
                <div class="social-icons">
                  <div>
                    <div>
                      <%= link_to post_post_likes_path(feed_post), method: :post do %>
                        <i class="fa-solid fa-heart mx-2" style="text-decoration: none; color:white;"></i>
                      <% end %>
                      <p><%=feed_post.repost_likes.count%></p>
                    </div>
                  </div>
                  <div>
                    <div>
                      <i class="fa-solid fa-message mx-2"></i>
                      <p><%=feed_post.repost_comments.count%></p>
                    </div>
                  </div>
                </div>
                <div class='time-created'>
                  <p class ='content-text grey-text'> <%= @post_time[index] %> ago </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <%end%>
        <%# POST CONTENT HERE %>

      </div>
      <div class="tab-pane fade tab-content" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <%# <% @user_now.playlists.each do |playlist| %>
            <%# <div class="playlist-card"> %>
              <%# <p><%=  playlist.name %>
            <%# </div> %>
        <%# <% end %>
      </div>
    </div>
  </div>
</div>
