
  <div class="form-container">

    <%= simple_form_for @post do |f| %>
      <%= f.input :title, required: true %>
      <%= f.input :content, required: true %>
      <%= f.input :music, as: :hidden, required: true, input_html: {value: name}%>
      <%= f.input :image, as: :hidden, input_html: {value: image}%>
      <%= f.input :artist, as: :hidden, input_html: {value: artist}%>
      <%= f.input :url, as: :hidden, input_html: {value: url}%>

      <%= f.button :submit, class:'user_btn'%>
    <% end %>
  </div>
