<div data-search-music-target= "results">

  <% if params[:query] && params[:query] != "" %>

    <div class="results-wrapper">
      <div class="results-container">
        <h2>Albums</h2>
        <% @album_search = RSpotify::Album.search(@search)%>
        <% @album_search[0..5].each do |album| %>

          <div class="result-card" data-controller="spotify-card" data-action="click->spotify-card#fill"  data-spotify-card-target="albumResults" data-spotify-card-album-value=<%= album.id %> >
            <div>
              <p><%= album.name.length > 30 ? album.name[0..30]... : album.name %></p>
              <div class="artist-name">
                <% @all_artists = [] %>
                <% album.artists.each do |artist| %>
                <% @all_artists.push(artist.name) %>
                <% end %>
                <%@all_artists = @all_artists.join(", ") %>
                <p><%= @all_artists.length > 30 ? @all_artists[0..30]... :  @all_artists %></p>
              </div>
            </div>
            <img src= <%= album.images[0]["url"] %> alt="" class="profile-playlist-image">
          </div>

        <% end %>
      </div>

      <div class="results-container">
        <h2>Songs</h2>
        <% @song_search = RSpotify::Track.search(@search) %>
        <% @song_search[0..5].each do |song| %>
          <div class="result-card">

            <div>
              <p><%= song.name.length > 30 ? song.name[0..30]... :  song.name %></p>
              <div class="artist-name">

                <% @all_artists = [] %>
                <% song.artists.each do |artist| %>
                <% @all_artists.push(artist.name) %>
                <% end %>
                <%@all_artists = @all_artists.join(", ") %>
                <p><%= @all_artists.length > 30 ? @all_artists[0..30]... :  @all_artists %></p>
              </div>
            </div>

            <img src= <%= song.album.images[0]["url"] %> alt="" class="profile-playlist-image">
          </div>
        <% end %>
      </div>
    </div>
      <div class="results-container">
        <h2>Artists</h2>
        <% @artist_search = RSpotify::Artist.search(@search) %>
        <% @artist_search[0..5].each do |artist| %>
          <div class="result-card">
            <div class="artist-name">
              <p><%= artist.name.length > 30 ? artist.name[0..30]... :  artist.name %></p>
            </div>
            <% if artist.images[0] != nil  %>
              <img src= <%= artist.images[0]["url"] %> alt="" class="profile-playlist-image">
            <% else %>
              <img src= "https://www.medtalks.es/images/user-placeholder.jpg" alt="" class="profile-playlist-image">
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <h2> Start searching!!</h2>
  <% end %>

</div>
