
<div class="posts-wrapper">
  <% @feed_posts.each_with_index do |feed_post, index| %>
    <% if feed_post.class == Post%>
      <%= link_to post_path(feed_post.id) do %>
        <div class='post-card' id='profile-post-card'>
          <div class="profpic-username">
            <img src="<%=feed_post.user.prof_pic%>" alt=""50>
            <% if feed_post.user_id == current_user.id %>
              <%= link_to profile_path do %>
              <h3 class='username-text'><%= feed_post.user.username %>.</h3>
              <% end %>
            <% else %>
              <%= link_to user_path(feed_post.user_id) do %>
                <h3 class='username-text' style="text-decoration: none; color:white;"><%=feed_post.user.username %></h3>
              <% end %>
            <% end %>

          </div>
          <div class = 'content'>
            <h2 class='post-title'> <%= feed_post.title.capitalize %> </h2>
              <p class ='content-text'> <%= feed_post.content %> </p>

            <a href= <%= feed_post.url %> target="_blank">
              <div class="spotify-card">
                <img src=<%= feed_post.image %> alt="">
                <div class="spotify-card-info">
                  <p><%= feed_post.music %></p>
                  <% if !feed_post.artist.nil? %>
                    <p><%= feed_post.artist %></p>
                  <% end %>
                </div>
              </div>
            </a>
            <div class="social-icons">
              <div>
                <% if feed_post.user_id != @user.id%>
                  <%= link_to post_reposts_path(feed_post), method: :post do %>
                    <i class="fa-solid fa-repeat" style="text-decoration: none; color:white;"></i>
                  <% end %>
                <% end %>
              </div>
              <div>
                <div>
                  <%= link_to post_post_likes_path(feed_post), method: :post do %>
                    <i class="fa-solid fa-heart mx-2" style="text-decoration: none; color:white;"></i>
                  <% end %>
                  <p><%=feed_post.post_likes.count%></p>
                </div>
              </div>
              <div>
                <div>
                  <i class="fa-solid fa-message mx-2"></i>
                  <p><%=feed_post.post_comments.count%></p>
                </div>
              </div>
            </div>
            <div class='time-created'>
              <p class ='content-text grey-text'> <%= @post_time[index] %> ago </p>
            </div>
          </div>
        </div>
      <% end %>

      <% else %>
      <%= link_to repost_path(feed_post.id) do %>
        <div class ='repost-card pt-3'>
          <div class='album-and-title d-flex flex-row  justify-content-between'>
            <h2> <%= feed_post.post.title %> </h2>
          </div>
            <div class='bottom-card-content'>
              <div class="profpic-username d-flex flex-row">
                <img src="<%= @prof_pic_url %>" alt="" class="index-avatar" style="margin-right:8px;">
                <p class='username-text'><%= User.find(feed_post.user_id).username %></p>
                <p class='username-text'>
                  <i class="fa-solid fa-repeat py-1 px-1" style="text-decoration: none; color:white;"></i>reposted by <%= User.find(feed_post.user_id).username %>
                </p>
              </div>
            <div class = 'content'>
              <p class ='content-text'> <%= feed_post.post.content %> </p>
            </div>
            <div class="social-icons d-flex flex-row justify-content-between">
              <div class= 'd-flex flex-row'>
                <%= link_to repost_repost_likes_path(feed_post), method: :post do %>
                <i class="fa-solid fa-heart mx-2" style="text-decoration: none; color:white;"></i>
                <% end %>
                <p><%=feed_post.repost_likes.count%></p>
              </div>
              <div class= 'd-flex flex-row'>
                <i class="fa-solid fa-message mx-2"></i>
                <p><%=feed_post.repost_comments.count%></p>
              </div>
            </div>
            <div class='time-created'>
              <p class='content-text grey-text'> <%= @post_time[index] %> ago </p>
            </div>
        </div>
        </div>
      <% end %>
    <% end %>
  <%end%>
</div>
