<div class='container'>
  <% @feed_posts.each_with_index do |feed_post, index| %>
  <%= link_to post_path(feed_post.id) do %>
    <% if feed_post.class == Post%>
     <div class='post-card'>
      <div class='album-and-title d-flex flex-row justify-content-between'>
          <h2> <%= feed_post.title %> </h2>
          <%# <img src="https://i.mdel.net/i/db/2019/12/1255378/1255378-800w.jpg" alt="" width="100px" height='100px' class="album-img"> %>
      </div>
          <div class='bottom-card-content'>
            <div class="profpic-username d-flex flex-row ">
              <img src="<%= @prof_pic_url %>" alt="" class="index-avatar" style="margin-right:8px;">
              <p class='username-text'><%= feed_post.user.username %></p>
            </div>
            <div class = 'content'>
              <p class ='content-text'> <%= feed_post.content %> </p>
            </div>
            <div class="social-icons d-flex flex-row justify-content-between">
              <div>
              <% if feed_post.id != @user.id%>
                <%# <%= link_to "Repost" %>
                <%= link_to post_reposts_path(feed_post), method: :post do %>
                  <i class="fa-solid fa-repeat" style="text-decoration: none; color:white;"></i>
                <% end %>
              <% end %>
              </div>
              <div class= 'd-flex flex-row'>
                <i class="fa-solid fa-heart mx-2"></i><p>6</p>
              </div>
              <div class= 'd-flex flex-row'>
                <i class="fa-solid fa-message mx-2"></i><p>2</p>
              </div>
              <%# link_to "More"%>

                <%# <i class="fa-solid fa-arrow-up-right-from-square py-1 px-1 " style="text-decoration: none; color:white;"></i> %>

            </div>
            <div class='time-created'>
              <p class ='content-text grey-text'> <%= @post_time[index] %> ago </p>
            </div>
          </div>
      </div>
      <% else %>
      <% playlist = RSpotify::Playlist.find(request.env['omniauth.auth'], feed_post.post.music) %>
        <div class ='repost-card pt-3'>
          <div class='album-and-title d-flex flex-row  justify-content-between'>
            <h2> <%= feed_post.post.title %> </h2>
            <%# <img src="https://i.mdel.net/i/db/2019/12/1255378/1255378-800w.jpg" alt="" width="100px" height='100px' class="album-img"> %>
          </div>
            <div class='bottom-card-content'>
              <div class="profpic-username d-flex flex-row">
                <img src="<%= @prof_pic_url %>" alt="" class="index-avatar" style="margin-right:8px;">
                <p class='username-text'><%= User.find(feed_post.user_id).username %></p>
                <p class='username-text'>
                  <i class="fa-solid fa-repeat py-1 px-1" style="text-decoration: none; color:white;"></i>reposted by <%= User.find(feed_post.user_id).username %>
                </p>
              </div>
            <div class = 'content'>
              <p class ='content-text'> <%= feed_post.post.content %> </p>
            </div>
            <div class="social-icons d-flex flex-row justify-content-between">
              <div class= 'd-flex flex-row'>
                <i class="fa-solid fa-heart mx-2"></i><p>3</p>
              </div>
              <div class= 'd-flex flex-row'>
                <i class="fa-solid fa-message mx-2"></i><p>4</p>
              </div>
            </div>
            <div class='time-created'>
              <p class='content-text grey-text'> <%= @post_time[index] %> ago </p>
            </div>
        </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
